<div class="viewItems clearfix">
	<div id="expenseReportContainer" class="containerForItemDetailsBody reportContainer">
		<div>
			<div class="button-wrapper floatRight padright">
				<div class="circle-button floatLeft margin-r20" onclick="loadReportPage('ExpenseGraphReport.html')" title="Graphical View">
					<img class="header-icon" src="../inlineSVG/graph.svg">           </div>
				<div class="circle-button floatLeft margin-r20" onclick="openExcelOptions();" title="Excel Export">
					<img class="header-icon" src="../inlineSVG/excel.svg">
				</div>
				<div class="circle-button floatLeft margin-r20" onclick="openPrintOptions();" title="Print & Share">
					<img class="header-icon" src="../inlineSVG/print.svg">
				</div>
			</div>
			<div class="floatLeft" id="firmChooser">
				<div class="floatLeft txnSelect margin-r20">
					<select id="firmFilterOptions">
						<option value="0">All Firms</option>
					</select>
				</div>
			</div>
			<div class="dateFilterWrapper bg floatLeft" >
				<div>
            <span for="startDate margintop" >From
                <input type="text" id="startDate" class="dateInput">
            </span>
					<span for="endDate">To
                <input type="text" id="endDate" class="dateInput">
            </span>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="titleColor" >
			<div class="floatLeft margin-r20">
				Expense Transactions
			</div>
			<div class="floatLeft ">
				<input type="text" id="reportPartyName" class="width90 reportTextInputFilter " class="bottomBorder" placeholder="Expense Category filter">
			</div>
		</div>
		<br><br>
		<div id="currentAccountTransactionDetails" class="column-flex flex-1">
			<table id='tableHead' width="100%" class="tablesorter  report">
			</table>
			<div id="scrollArea" class="clusterize-scroll flex-1">
				<table width="100%" class="tablesorter tabTxnTable">
					<tbody id="contentArea" class="clusterize-content">
					</tbody>
				</table>
			</div>
		</div>
		<div id="total" style="font-family:'robotoMedium'; color:#e35959;">
			Total Expense: <span id="totalAmount">0.0</span>
		</div>
	</div>
</div>
<div id="expensePrintDialog" class="hide" title="Print options">
	<div class="clearfix" id="listOfItemsToCheck">
		<div class='floatLeft clearfix' id="itemDetailPrintDiv" style='width:100%' >
			<div class='floatLeft'>Print item details</div>
			<div class='floatRight'><input type='checkbox' class='check' id='printItems'></div>
		</div>
		<div class='floatLeft clearfix' id="itemDescriptionPrintDiv" style='width:100%' >
			<div class='floatLeft'>Print description</div>
			<div class='floatRight'><input type='checkbox' class='check' id='printDescription'></div>
		</div>
	</div>
	<div style="padding-top: 20px"><input type="button" value="Cancel" class="floatLeft" onclick="closePrintOptions();"/><input type="button" value="Ok" class="floatRight" onclick="openPreview();"/></div>
</div>
<div id="ExcelDialog" class="hide" title="Print options">
	<div class='floatLeft clearfix' id="itemDetailsExcel" style='width:100%' >
		<div class='floatLeft'>Print Item Details</div>
		<div class='floatRight'><input type='checkbox' class='check' id='ExcelExpenseItemDetails' checked></div>
	</div>
	<div class='floatLeft clearfix' id="itemDescriptionExcel" style='width:100%' >
		<div class='floatLeft'>Print description</div>
		<div class='floatRight'><input type='checkbox' class='check' id='ExcelExpenseDescription' checked></div>
	</div>
	<div style="padding-top: 20px"><input type="button" value="Cancel" class="floatLeft" onclick="closeExcelOptions();"/><input type="button" value="Ok" class="floatRight" onclick="printExcel();"/></div>
</div>
<script src="../UIControllers/ExpenseReportController.js"></script>
<script>
	$('#firmFilterOptions').selectmenu();
</script>

