<head>
		<style>
			:root {
				--titlebar-height: 30px;
			}
			@font-face {
				font-family: robotoRegular;
				src: url('./../styles/roboto/Roboto-Regular.woff');
			}
	
			@font-face{
				font-family: robotoMedium;
				src: url('./../styles/roboto/Roboto-Medium.woff')
			}
	
			@font-face{
				font-family: robotoBold;
				src: url('./../styles/roboto/Roboto-Bold.woff')
			}
			body{
				padding:0;
				margin:0;
				box-sizing: border-box;
			}
			.backgroundColor{
				background: url('../Images/vyapar_home_screen_blur.png') no-repeat;
				background-size: cover;
				position: fixed;
				width:100%;
				height: 100%;
				background-color: rgba(0,0,0,0.65);
			}
			.dialog{
				width:257px;
				margin-left: calc(50% - 176.5px);
				margin-top: 15%;
				background-color: white;
				padding:48px 48px 72px 48px;
				border-radius: 4px;
				box-shadow: 0 8px 24px rgba(0,0,0,0.20), 0 1px 3px rgba(0,0,0,0.14);
			}
			.row{
				width: 100%;
			}
			.row span{
				font-size:32px;
			}
			/*.row input{
			  width:100%;
			  height:30px;
			  font-size:30px;
			  border:none;
			  border-bottom:1px solid grey;
			}*/
			input, input:hover, input:hover{
				outline:none;
			}
			input:focus{
				outline: 2px solid cornflowerblue;
			}
			.button{
				padding: 8px;
				width:100%;
				line-height: initial;
				min-width: 60px;
				font-family: 'robotoMedium';
				font-size: 21px;
				color: white;
				background: #0b8fc5;
				border: 0;
	
				letter-spacing: 0.5px;
				/*    text-transform: uppercase;*/
				box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 2px 3px rgba(0,0,0,0.14) ;
				-webkit-user-select: none;
				cursor: pointer;
			}
			.button:focus{
				box-shadow: 0 4px 8px rgba(0,0,0,0.4);
			}
			.button:hover{
				background: #097aa8;
			}
	
			.forgotPasscode{
				font-size:13px;
				color: #0b8fc5;
			}
			.forgotPasscode h3{
				float: right;
			}
			.forgotPasscode h3:hover{
				cursor: pointer;
			}
			.overlay{
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0.5);
				position: fixed;
				top: var(--titlebar-height);
			}
			.mt20{
				margin-top: 20px;
			}
	
			input{
				padding: 10px;
				border: 1px solid #ddd;
				width: 50px;
				height: 50px;
				text-align: center;
				font-size: 40px;
			}
			#loading {
				position: absolute;
				left: 50%;
				top: 50%;
				z-index: 1;
				width: 150px;
				height: 150px;
				margin: -75px 0 0 -75px;
				border: 16px solid #f3f3f3;
				border-radius: 50%;
				border-top: 16px solid #3498db;
				width: 120px;
				height: 120px;
				-webkit-animation: spin 2s linear infinite;
				animation: spin 2s linear infinite;
			}
			#supportAppDialog {
				padding: 0;
				background: #F7F7F7;
			}

			#supportAppDialog .actionsContainer {
				border-top: 1px solid #BDBDBD;
				text-align: right;
				margin-top: 15px;
				padding-top: 15px;
				padding-bottom: 15px;
				padding-right: 15px;
			}
			#supportAppDialog #supportAppContainer .align-items-center{
				display: flex;
				align-items: center;
			}
			#supportAppDialog .p-20 {
				padding: 20px;
			}
			#supportAppDialog .terminalButton {
				border: none;
				padding: 10px;
				color: white;
				font-size: 12px;
				background: #0b8fc5;
				border-radius: 2px;
				letter-spacing: 0.5px;
				cursor: pointer;
				min-width: 68px;
				text-shadow: 0 -1px #097aa8;
				text-transform: uppercase;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
				transition: all 0.3s linear;
				margin-right: 8px;
			}
	
			@-webkit-keyframes spin {
				0% { -webkit-transform: rotate(0deg); }
				100% { -webkit-transform: rotate(360deg); }
			}
	
			@keyframes spin {
				0% { transform: rotate(0deg); }
				100% { transform: rotate(360deg); }
			}
	
		</style>
	</head>
	<body>
	
	<div id="app"></div>
	
	<div id="#delDialog"></div>
	
	<div id="upgradefailed"></div>
	<div class="backgroundColor">
		<div class="overlay">
			<div class="dialog" id="dialog" style="display: none;">
				<div class="row" >
					<span for="passcode" style="font-size:28px;font-family:robotoBold; color:#553555;">Enter your passcode</span>
				</div>
				<div class="row mt20" style="padding-left:18px;" id="passcodeInputDiv">
					<input type="password" maxlength=1 id="1" onkeyup="moveOnMax(event, this)" />
					<input type="password" maxlength=1 id="passcodeSecondInput" onkeyup="moveOnMax(event, this)" />
					<input type="password" maxlength=1 id="b" onkeyup="moveOnMax(event, this)" />
					<input type="password" maxlength=1 id="c" onkeyup="moveOnMax(event, this)"/>
					<p id="passcodeError" style="color:red;"></p>
				</div>
				<!-- <div class="row">
				  <button class="button" id="submitPasscode" >Submit</button>
				</div> -->
				<div class="row forgotPasscode">
					<h3 id="forgotPasscode" style="font-family:robotoRegular;" >forgot passcode?</h3>
				</div>
			</div>
		</div>
	</div>
	
	<div id="loading" style="z-index:100000" hidden></div>
	
	</body>
	<link rel="stylesheet" type="text/css" href="./../styles/jquery-ui.min.css">
	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
	<script src="./../UIControllers/jquery.min.js"></script>
	<script src="./../UIControllers/jquery-ui.min.js"></script>
	<script src="./../UIControllers/requireBabel.js"></script>
	<script type="text/javascript" src="./../UIControllers/MigrateWinTdToLocalStorage.js"></script>
	<script>
		let passCodeHelper = require('./../Utilities/passCodeHelper.js');
		function moveOnMax (e, field, nextFieldID) {
			if(e.keyCode == 8 && field.id != 1){
				$(field).prev().focus();
			}
			else if(field.value.length == 1 && field.id != 'c') {
				$(field).next().focus();
			}
		}
		$('#dialog').hide();
		(function () {
			let MenuType = require('./../Constants/MenuType.js');
			let titleBarUtility = require('./../Utilities/CustomTitleBarUtility.js');
			titleBarUtility.createTitleBar({menuType : MenuType.HELP_MENU});
		})()
		passCodeHelper.passCodeCheck();
	</script>
	
