<div class="viewItems clearfix">
	<div id="partyStatementContainer" style="padding: 16px 16px 0 16px;" class="containerForItemDetailsBody reportContainer">
		<div>
			<div class="button-wrapper floatRight padright">
				<div class="circle-button floatLeft margin-r20" onclick="openExcelOptions();" title="Excel Export">
					<svg fill="#7bbbbb" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M6,2H14L20,8V20A2,2 0 0,1 18,22H6A2,2 0 0,1 4,20V4A2,2 0 0,1 6,2M13,3.5V9H18.5L13,3.5M17,11H13V13H14L12,14.67L10,13H11V11H7V13H8L11,15.5L8,18H7V20H11V18H10L12,16.33L14,18H13V20H17V18H16L13,15.5L16,13H17V11Z" /></svg>
				</div>
				<div class="circle-button floatLeft margin-r20" onclick="openPrintOptions();" title="Print & Share">
					<svg fill="#7bbbbb" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg">
						<path d="M19 8H5c-1.66 0-3 1.34-3 3v6h4v4h12v-4h4v-6c0-1.66-1.34-3-3-3zm-3 11H8v-5h8v5zm3-7c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm-1-9H6v4h12V3z"/>
						<path d="M0 0h24v24H0z" fill="none"/>
					</svg>
				</div>
			</div>
			<div class="floatLeft margin-r20" style="font-size: 13px;color:#555;">
				Party name
				<div>
					<input type="text" id="nameForReport" class="width100 reportTextInputFilter" class="bottomBorder" placeholder="Party name">
				</div>
			</div>
			<div class="dateFilterWrapper bg floatLeft">
				<div class="marginTop">
              <span for="startDate margintop" >From
                  <input type="text" id="startDate" class="dateInput">
              </span>
					<span for="endDate">To
                  <input type="text" id="endDate" class="dateInput">
              </span>
				</div>
			</div>

			<div class="clearfix">    </div>
			<div class="padbottom" style="overflow:hidden;">
				<div class="titleColor floatLeft margin-r20">Transactions</div>
				<div class="modeWrapper floatLeft" style="font-size:13px;">
					<span class="floatLeft">Mode : </span>
					<span class="padleft floatLeft">
                  <input type="radio" class="floatLeft" name="viewMode" value="0" checked/><span style="padding-left:4px;"> Vyapar </span>
              </span>
					<span class="padleft floatLeft">
                  <input type="radio"  class="floatLeft"  name="viewMode" value="1" /><span style="padding-left:4px;"> Accounting</span>
               </span>
				</div>
			</div>
		</div>


		<div id="currentAccountTransactionDetails" style="flex:1; display: flex; flex-flow: column;">
			<table id='tableHead' width="100%" class="tablesorter tabTxnTable report">
			</table>
			<div id="scrollArea" class="clusterize-scroll" style="flex:1;">
				<table width="100%" class="tablesorter tabTxnTable">
					<tbody id="contentArea" class="clusterize-content">
					</tbody>
				</table>
			</div>
		</div>

		<div id="summaryInTable" style="width:100%;">
			<table id="total" style="width: 100%"></table>
		</div>
		<div id="partyStatementSummary">
			<div>
				<div style=" padding-left: 20px; display: inline-block">Party Statement Summary</div>
				<div class="expand-icon-statement floatRight">
					<svg fill="#000000" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/>
						<path d="M0 0h24v24H0z" fill="none"/>
					</svg>
				</div>
			</div>

			<div id="partyStatementSummaryDetails">
				<div style="flex: 1; border-right:  1px solid #c7c7c7;">
					<div style="flex: 1; display: flex">
						<div class="amount" style="flex: 1;"><span class="titleSummary">Total Sale :</span> </span><span class="titleSummary" id="totalSale"></span><br><span class="subHeadingSummary"> (Sale-Sale Return)</span></div>
						<div class="amount" style="flex: 1;"><span class="titleSummary">Total Purchase :</span> <span class="titleSummary" id="totalPurchase"></span><br><span class="subHeadingSummary"> (Purchase-Purchase Return)</span></div>

					</div>
					<div style="flex: 1; display: flex">
						<div class="amount" style="flex: 1;"><span class="titleSummary">Total Money-In :</span> </span><span class="titleSummary" id="totalMoneyIn"></span></div>
						<div class="amount" style="flex: 1;"><span class="titleSummary">Total Money-Out :</span> </span><span class="titleSummary" id="totalMoneyOut"></span></div>
					</div>
				</div>
				<div style="align-self: center; padding-left: 5vh; padding-right: 15px;">
					<div style="font-family: RobotoMedium; " id="totalReceivableText">Total Receivable</div>
					<div style="font-family: RobotoMedium; margin-top: 4px" id="totalReceivableAmount"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="partyStatementPrintDialog" class="hide" title="Print options">
	<div class="clearfix" id="listOfItemsToCheck">
		<div class='floatLeft clearfix' id="itemDetailPrintDiv" style='width:100%' >
			<div class='floatLeft'>Print item details</div>
			<div class='floatRight'><input type='checkbox' class='check' id='printItems'></div>
		</div>
		<div class='floatLeft clearfix' id="itemDescriptionPrintDiv" style='width:100%' >
			<div class='floatLeft'>Print description</div>
			<div class='floatRight'><input type='checkbox' class='check' id='printDescription'></div>
		</div>
		<div class='floatLeft clearfix' id="paymentInfoPrintDiv" style='width:100%' >
			<div class='floatLeft'>Print payment info</div>
			<div class='floatRight'><input type='checkbox' class='check' id='printPaymentInfo'></div>
		</div>
		<div class='floatLeft clearfix hide' id="paymentStatusPrintDiv" style='width:100%' >
			<div class='floatLeft'>Print payment status</div>
			<div class='floatRight'><input type='checkbox' class='check' id='printPaymentStatus'></div>
		</div>
	</div>
	<div style="padding-top: 20px"><input type="button" value="Cancel" class="floatLeft" onclick="closePrintOptions();"/><input type="button" value="Ok" class="floatRight" onclick="openPreview();"/></div>
</div>
<div id="ExcelDialog" class="hide" title="Print options">
	<div class="clearfix" id="ExcelCheck">
		<div class='floatLeft clearfix' id="itemDetailsExcel" style='width:100%' >
			<div class='floatLeft'>Print Item Details</div>
			<div class='floatRight'><input type='checkbox' class='check' id='ExcelPartyItemDetails' checked></div>
		</div>
		<div class='floatLeft clearfix' id="itemDescriptionExcel" style='width:100%' >
			<div class='floatLeft'>Print description</div>
			<div class='floatRight'><input type='checkbox' class='check' id='ExcelPartyDescription' checked></div>
		</div>
		<div class='floatLeft clearfix' id="paymentInfoExcel" style='width:100%' >
			<div class='floatLeft'>Print payment info</div>
			<div class='floatRight'><input type='checkbox' class='check' id='ExcelPaymentInfo' checked></div>
		</div>
		<div class='floatLeft clearfix hide' id="paymentStatusExcel" style='width:100%' >
			<div class='floatLeft'>Print payment status</div>
			<div class='floatRight'><input type='checkbox' class='check' id='ExcelPaymentStatus' checked></div>
		</div>
	</div>
	<div style="padding-top: 20px"><input type="button" value="Cancel" class="floatLeft" onclick="closeExcelOptions();"/><input type="button" value="Ok" class="floatRight" onclick="printExcel();"/></div>
</div>

<script src="../UIControllers/PartyStatementController.js"></script>