<div class="viewItems clearfix">
    <div id="taxReportContainer" class="containerForItemDetailsBody reportContainer">
        <div>
            <div class="button-wrapper floatRight padright">
                <div class="circle-button floatLeft margin-r20" onclick="printExcel();" title="Excel Export">
                    <svg fill="#7bbbbb" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M6,2H14L20,8V20A2,2 0 0,1 18,22H6A2,2 0 0,1 4,20V4A2,2 0 0,1 6,2M13,3.5V9H18.5L13,3.5M17,11H13V13H14L12,14.67L10,13H11V11H7V13H8L11,15.5L8,18H7V20H11V18H10L12,16.33L14,18H13V20H17V18H16L13,15.5L16,13H17V11Z" /></svg>
                </div>
                <div class="circle-button floatLeft margin-r20" onclick="openPreview();" title="Print & Share">
                    <svg fill="#7bbbbb" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 8H5c-1.66 0-3 1.34-3 3v6h4v4h12v-4h4v-6c0-1.66-1.34-3-3-3zm-3 11H8v-5h8v5zm3-7c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm-1-9H6v4h12V3z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                </div>
            </div>
            <div class="floatLeft" id="firmChooser">
                <div class="floatLeft txnSelect margin-r20">
                    <select id="firmFilterOptions">
                        <option value="0">All Firms</option>
                    </select>
                </div>
            </div>
            <div class="dateFilterWrapper bg floatLeft" >
                <div>
                <span for="startDate margintop" >From
                    <input type="text" id="startDate" class="dateInput">
                </span>
                    <span for="endDate">To
                    <input type="text" id="endDate" class="dateInput">
                </span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="titleColor padbottom">
            Tax Report
        </div>
        <div id="currentAccountTransactionDetails" style="flex: 1; display:flex; flex-flow: column ">
            <!--  <table width="100%" id="chequeList" class="tablesorter tabTxnTable">
              </table> -->
            <table id='tableHead' width="100%" class="tablesorter tabTxnTable report">
            </table>
            <div id="scrollArea" class="clusterize-scroll" style="flex: 1">
                <table width="100%" class="tablesorter tabTxnTable" >
                    <tbody id="contentArea" class="clusterize-content">
                    </tbody>
                </table>
            </div>
        </div>
        <div style="display: flex; flex-flow: row">
            <div class="total" style="color:#1faf9d; font-family:'robotoMedium'; flex: 1">
                Total Tax In: <span id="totalTaxInAmount">0.0</span>
            </div>
            <div class=" total" style="font-family:'robotoMedium'; color:#e35959; flex: 1">
                Total Tax Out: <span id="totalTaxOutAmount">0.0</span>
            </div>
        </div>

    </div>
</div>

<script src="../UIControllers/TaxReportController.js"></script>
<script>
	$('#firmFilterOptions').selectmenu();
</script>
