<div class="viewItems" id="viewItems">
    <div class="reportListContainer scroll3">
        <ul class="" id="listOfReportsName">
            <li class="listHeader">Transaction report</li>
            <li data-url="SaleReport" tabindex="100">Sale</li>
            <li data-url="PurchaseReport" tabindex="100">Purchase</li>
            <li data-url="DayBook.html" tabindex="100">Day book</li>
            <li data-url="CustomReport.html" tabindex="100">All Transactions</li>
            <li data-url="ProfitAndLossReport.html" tabindex="100">Profit And Loss</li>
            <li data-url="SaleAgeingReport" tabindex="100" class="saleAgingReport">Sale Aging</li>
            <li data-url="CashFlowReport.html" tabindex="100">Cash flow</li>
            <li data-url="BalanceSheet.html" tabindex="100">Balance Sheet</li>

            <li class="listHeader">Party report</li>
            <li data-url="PartyStatement.html" tabindex="100">Party Statement</li>
            <li data-url="PartyReport.html" tabindex="100">All parties</li>
            <li data-url="PartyReportByItem.html" tabindex="100">Party Report By Item</li>
            <li data-url="SalePurchaseReportByParty.html" tabindex="100">Sale Purchase By Party</li>
            <li data-url="PartyGroupSalePurchaseReport.html" tabindex="100">Sale Purchase By Party Group</li>

            <li class="listHeader" id="gstReportSection">GST reports</li>
            <li data-url="GSTR1Report.html" id="GSTR1Report" tabindex="100">GSTR 1</li>
            <li data-url="GSTR2Report.html" id="GSTR2Report" tabindex="100">GSTR 2</li>
            <li data-url="GSTR3Report.html" id="GSTR3BReport" tabindex="100">GSTR 3 B</li>
            <li data-url="GSTR4Report.html" id="GSTR4Report" tabindex="100">GSTR 4</li>
            <li data-url="GSTR9AReport.html" id="GSTR9AReport" tabindex="100">GSTR 9A</li>
            <li data-url="GSTR9Report.html" id="GSTR9Report" tabindex="100">GSTR 9</li>


            <li class="listHeader">Item/ Stock report</li>
            <li id="stockSummaryReportOption" data-url="StockSummaryReport.html" tabindex="100">Stock summary</li>
            <li data-url="ItemReportByParty.html" tabindex="100">Item Report By Party</li>
            <li data-url="ItemWiseProfitAndLoss.html" tabindex="100">Item Wise Profit And Loss</li>
            <li id="lowStockSummaryReportOption" data-url="LowStockSummaryReport.html" tabindex="100">Low Stock Summary</li>
            <li id="stockDetailReportOption" data-url="StockDetailReport.html" tabindex="100">Stock Detail</li>
            <li id="itemDetailReportOption" data-url="ItemDetailReport.html" tabindex="100">Item Detail</li>
            <li id="itemCategorySalePurchase" data-url="ItemCategorySalePurchaseReport.html" tabindex="100">Sale/ Purchase Report By Item Category</li>
            <li id="itemCategoryStockSummary" data-url="stockSummaryByItemCategory.html" tabindex="100">Stock Summary Report By Item Category</li>
            <li id="itemStockTrackingReport" data-url="ItemStockTrackingReport.html" tabindex="100">Item Stock Tracking Report</li>

            <li class="listHeader">Business Status</li>
            <li id="bankStatementOption" data-url="BankStatement.html" tabindex="100">Bank Statement</li>
            <li data-url="DiscountReport.html" id="discountReport" tabindex="100">Discount Report</li>
            <li data-url="TaxReport.html" id="taxReport" tabindex="100">Tax Report</li>
            <li data-url="TaxRateReport.html" id="taxRateReport" tabindex="100">Tax Rate Report</li>

            <li class="listHeader">Expense report</li>
            <li data-url="ExpenseReport.html" tabindex="100">Expense</li>
            <li data-url="ExpenseCategoryReport.html" tabindex="100">Expense Category Report</li>
            <li data-url="ExpenseItemReport.html" tabindex="100">Expense Item Report</li>

            <li class="listHeader orderRelatedReport">Sale/ Purchase Order report</li>
            <li class="orderRelatedReport" data-url="OrderTxnReport.html" tabindex="100">Sale/ Purchase Orders</li>
            <li class="orderRelatedReport" data-url="OrderItemReport.html" tabindex="100">Sale/ Purchase Order Item</li>


            <li class="listHeader extraIncomeReportLinks">Other Income report</li>
            <li class="extraIncomeReportLinks" data-url="IncomeReport.html" tabindex="100">Other Income</li>
            <li class="extraIncomeReportLinks" data-url="IncomeCategoryReport.html" tabindex="100">Other Income Category Report</li>
            <li class="extraIncomeReportLinks" data-url="IncomeItemReport.html" tabindex="100">Other Income Item Report</li>

            <li class="listHeader loanAccountReportLinks">Loan Accounts</li>
            <li class="loanAccountReportLinks" data-url="LoanStatement.html" tabindex="100">Loan Statement</li>
        </ul>
    </div>
    <div class="reportDataContainer">
        <div id="reportPage" class="d-flex flex-column" style="height: 100%;"/>
    </div>
</div>

<script>
	require('../UIControllers/ViewReportController.js')()
</script>
