.collect-payment-modal .ui-dialog-titlebar{
  display: none;
}

.collect-payment-modal .collect-payment .heading{
  font-size: 20px;
}
.collect-payment-modal .collect-payment .banking-safe-info{
  background-color: #ECFAF1;
  display: table;
  padding: 10px;
}

.collect-payment-modal .collect-payment .banking-safe-info img, 
.collect-payment-modal .collect-payment .banking-safe-info span {
  display: table-cell;
  vertical-align: middle;
  color: #40DF96;
}

.collect-payment-modal .collect-payment .banking-safe-info img{
  padding: 0 15px;
}

.collect-payment-modal .collect-payment .qr-code-info-steps .step{
  display: table;
  color:rgba(165, 165, 165, 1);
}

.collect-payment-modal .collect-payment .qr-code-info-steps .step img, 
.collect-payment-modal .collect-payment .banking-safe-info .step span {
  display: table-cell;
  vertical-align: middle;
}

.collect-payment-modal .collect-payment .cross-icon{
  position: absolute;
  top: 14px;
  right: 14px;
}