#licenseTrialExpiry {
    padding: 20px;
}

#licenseTrialExpiry .cross-icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

#licenseTrialExpiry .full-access-text {
    color: #a7a7a7;
    font-weight: bold;
    font-size: 13px;
}

.license-ext-btn {
    padding: 10px 20px;
    border-radius: 6px;
    color: #FFFFFF;
}

.license-ext-btn.buy-license {
    background-color: orange;
}

.license-ext-btn.extend-trial {
    background-color: #04e004;
}

.like-our-page{
    color: #010179
}
