* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
@font-face {
  font-family: 'roboto';
  src: url('./roboto/Roboto-Regular.woff2') format('woff2'),
  url('./roboto/Roboto-Regular.ttf') format('truetype'),
  url('./roboto/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  background-color: #016FB9;
}
.container{
  background-color: white;
  width: 80vw;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.slideDiv{
  flex: 2 1 63%;
}
.rightNav{
  flex: 1 0 37%;
  height: 75vh;
}
.loginDiv{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 25% 12%;
  height: 100%;  
  font-size: 1.25rem;
  letter-spacing: .5px;
}

.restoreButton {
  position: absolute;
  bottom: .5rem;
  right: 1.5rem;
  color: #097AA8;
  font-size: 11px;
  cursor: pointer;
}

.referralCode.new{
  border-bottom: 1px solid black;
  width: 100%;
  height: 2rem;
  position: relative;
}
.referralCode.new>input{
  border: 0;
  outline: 0;
  text-transform: uppercase;
  width: 100%;
}
.referralCode>span{
  float: right;
  cursor: pointer;
  position: absolute;
  right: 0;
  font-size: 1rem;
  top: .25rem;
}
.hasReferralCode{
  text-decoration: none;
  font-size: 14px;
  color: #097AA8;
}
.referralDiv {
  margin: auto;
  margin-bottom: 1rem;
  text-align: center;
  width: 90%;
}
.referralDiv>span{
  font-size: 12px;
}
.referralDiv>a{
  font-size: 12px;
}
.referralCode.existing{
  border: 0;
  margin-left: 10px;
  text-transform: uppercase;
  height: 2rem;
}
.intl-tel-input.phone {
  position: relative;
  display: block;
  font-size: 15px;
}
.intl-tel-input .flag-container, .intl-tel-input input {
  padding: 0;
  line-height: 3rem;
}
.intl-tel-input input {
    width: 100%;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #097AA8;
}

.intl-tel-input.phone.allow-dropdown.separate-dial-code .selected-flag {
  background-color: #F5F6F7;
}
.country-list{
  line-height: 1rem;
  width: 100%;
  overflow-x: hidden;
}
.phoneDiv{
  position: relative;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.phoneDiv>span{
  position: absolute;
  left: 50%;
  padding: 0 .5rem;
  transform: translate(-50%, -8px);
  background-color: white;
  font-size: 14px;
  z-index: 2;
}
.loginDiv>span>a{
  text-decoration: none;
  color: #097AA8;
}
.loginDiv>span{
  font-size: 11px;
  text-align: center;
}
.loginBtn{
  background-color: #1789FC;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  border: 0;
  height: 2.5rem;
  width: 100%;
  font-size: 14px;
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.16);
}
.searchCountry{
  height: 2rem;
  margin: 5px;
  border: 0;
  border-bottom: 1px solid black;
  outline: none;
  width: 80%;
}
.backBtn {
  border: 0;
  background-color: white;
  font-size: xx-large;
  margin: 5px;
  vertical-align: bottom;
}
.countryItem{
  padding: 3px;
}
.countryDropDown{
  padding: 30px;
}
.errorText{
  color: red;
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: .5rem;
}
.error{
  outline: 1px solid red;
}
.loaderWrapper{
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}
.loader{
  position: absolute;
  left: 50%;
  top: 45%;
  z-index: 1;
  margin: -35px 0 0 -35px;
  border: 12px solid #fff;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 70px;
  height: 70px;
  transform: translate(-50%,-50%);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loadingText{
  position: absolute;
  top: 55%;
  left: 50%;
  color: white;
  transform: translate(-50%,-50%);
}
.blink_me {
  animation: blinker 1.5s linear infinite;
  color: #0b8fc5;
}

@keyframes blinker {
  50% { opacity: 0; }
}

#supportAppDialog {
  padding: 0;
  background: #F7F7F7;
}

#supportAppDialog .actionsContainer {
  border-top: 1px solid #BDBDBD;
  text-align: right;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
}
#supportAppDialog #supportAppContainer .align-items-center{
  display: flex;
  align-items: center;
}
#supportAppDialog .p-20 {
  padding: 20px;
}
#supportAppDialog .terminalButton {
  border: none;
  padding: 10px;
  color: white;
  font-size: 12px;
  background: #0b8fc5;
  border-radius: 2px;
  letter-spacing: 0.5px;
  cursor: pointer;
  min-width: 68px;
  text-shadow: 0 -1px #097aa8;
  text-transform: uppercase;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s linear;
  margin-right: 8px;
}