.general-settings .setting-item .backup-sub-settings span{
    line-height: 12px;
    padding-bottom: 15px;
}

.general-settings .application-settings .setting-item .setting-heading{
    min-width: 160px;
    display: inline-block;
}

.general-settings .delivery-challan-settings .setting-item{
    min-height: 35px;
}

.general-settings .firm-list fieldset{
    margin:0;
    width: 90%;
}

.general-settings .firm-list .firm-item{
    border: 1px solid #DDDDDD;
    padding-left: 5px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.general-settings .firm-list .firm-item .default-lbl{
    border-radius: 13px;
    padding: 5px;
    color: #808080;
}

.general-settings .firm-list .firm-item img{
padding: 10px;
display: inline-block;
}

.general-settings .firm-list .firm-item span{
    font-size: 13px;
}

.general-settings .firm-list .firm-item span.MuiFormControlLabel-label{
    width: 165px;
    word-wrap: break-word;
}




.general-settings .firm-list .firm-item.default{
    background: #ffffff;
}





