#invoicePreviewWrapper {
  height: 100%;
  width: 100%;
  position: relative;
  top: -30px;
}
.invoice-preview{
  font-family: robotoMedium;
  height: 100%;
  color: #2B4C56;
  overflow: hidden;

}

.ReactModalPortal .react-modal-container.ReactModal__Content{
  background: #FFFFFF !important;
  border-radius: 20px !important;
  left: 55% !important;
  top: 55% !important;
}

.ReactModalPortal .react-modal-container.ReactModal__Content:focus{
  outline:none;
}

/* .ReactModalPortal .react-modal-container.ReactModal__Content .modalContainer{
  max-width: 100%;
  max-height: 100%;
  min-width: 500px;
} */

.expanded-view-body .expanded-contents{
  zoom:150%;
}

.expanded-view-body .cross-icon,
.party-number-modal .cross-icon{
  position: absolute;
  top: 14px;
  right: 14px;
}

.modalBody.expanded-view-body{
  overflow: scroll;
  height: calc(var(--full-height) - 50px);
  padding: 10px;
}

.expand-icon-wrapper{
  float: right;
  right: 10px;
  top: 0;
  background: white;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.20);
  text-align: center;
  position: absolute;
}

.expand-preview-icon{
  width: 16px;
    height: 16px;
    vertical-align: middle;
}

.invoice-preview .invoice-header{
  border-bottom: 3px solid rgb(230, 230, 234);
}

 

.invoice-preview .invoice-preview-content{
  font-family: robotoMedium;
  height: 100%;
}

.invoice-preview .theme-changer{
  background-color:#F5F6F7;
}

.invoice-preview .invoice-preview-checkbox{
  line-height: 47px;
  text-align: right;
}

.invoice-preview .invoice-preview-checkbox .input-checkbox{
  vertical-align: middle;
}

.invoice-preview .invoice-preview-checkbox .checkbox-txt{
  font-size:13px;
  color:#2B4C56;
  padding-left: 6px;
}
.invoice-preview .pdf-viewer{
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  min-width: 35%;
  max-width: 55%;
}

@media screen and (max-width: 992px) {
  .invoice-preview .pdf-viewer{
    max-width: 45%;
  }
  .ReactModalPortal .react-modal-container.ReactModal__Content .modalContainer {
    max-width: 500px;
  }
}

.invoice-preview .pdf-viewer .preview-contents{
  max-height: calc(var(--full-height) - 130px);
  overflow: scroll;
  padding:15px;
}

.invoice-preview .pdf-viewer .preview-contents a {
  pointer-events: none;
}

.border-white{
  border: 2px solid rgb(221, 221, 221)
}


.invoice-preview label{
  font-family: roboto
}

.invoice-preview .heading{
  border-bottom:none;
  font-size: 18px;
  line-height: 54px;
  padding: 0 0 0 20px;
}

.invoice-preview .sub-heading{
  line-height: 48px;
  color: #5e5e5e;
  font-family: robotoMedium;
  font-size: 14px;
}

.invoice-preview .color-selector{
  padding-top: 10px;
  padding-left: 20px;
}

.invoice-preview .color-selector .selected-color{
  display: table;
}

.invoice-preview .color-selector .choose-color{
  max-height: 140px;
  overflow: scroll;
}

.invoice-preview .color-selector .selected-color span{
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

.invoice-preview .sharing-menu{
  background-color:#F5F6F7;
  margin-top:30px;
  padding-bottom: 30px;
}

.invoice-preview .sharing-menu .sharing-menu-options{
  display: flex;
  flex-wrap: nowrap;
}

.invoice-preview .sharing-menu .sharing-menu-item{
  flex: 1;
text-align: center;
cursor: pointer;
}

.invoice-preview .sharing-menu .sharing-menu-item img{
 width:32px;
 height: 32px;
}

.invoice-preview .sharing-menu .sharing-menu-item .item-label{
  font-size:10px;
  padding-top: 5px;
}

.invoice-preview .invoice-utilities {
  margin: auto 0;
  min-width: 15%;
  max-width: 20%;
}

.invoice-preview .invoice-utilities .utility-btn{
  background-color:#F5F6F7;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.invoice-preview .invoice-utilities .sharing-menu .sub-heading{
  margin-left:18px;
}


.invoice-preview .invoice-utilities .utility-btn > div{
  display: table;
  width: 100%;
  height: 55px;
  border-radius: 2px;
}

.invoice-preview .invoice-utilities .utility-btn .collect-payment span,
.invoice-preview .invoice-utilities .utility-btn .print-invoice span,
.invoice-preview .invoice-utilities .utility-btn .download-pdf span{
  vertical-align: middle;
  padding: 5px 5px 5px 10px;
  display: table-cell;
  font-size: 14px;
}

.invoice-preview .invoice-utilities .utility-btn .img-container{
  text-align: center;
}

.invoice-preview .invoice-utilities .utility-btn .download-pdf img{
  width:24px;
  height:24px;
}

.invoice-preview .invoice-utilities .utility-btn .collect-payment{
  background-color: #28DB89;
}

.invoice-preview .invoice-utilities .utility-btn .print-invoice{
  background-color: #1789FC;
}

.invoice-preview .invoice-utilities .utility-btn .download-pdf{
  color: #2B4C56;
}

.invoice-preview .theme-selector .themes-list{
  max-height: calc(var(--full-height) - 400px);
  overflow-y: auto;
  border-bottom: 3px solid rgb(230, 230, 234);
}

.invoice-preview .theme-selector .themes-list li  {
	font-size: 12px;
  padding: 13px 0 13px 20px;
  border-bottom: 3px solid rgb(230, 230, 234);
  cursor: pointer;
  }

  .invoice-preview .theme-selector .themes-list li:last-child  {
    border-bottom: none;
    }

  .invoice-preview .theme-selector .themes-list li.selected{
    background-color: rgba(9, 122, 168, 0.11);
  }

  .selected-color-box{
    border-radius: 2px;
    width: 30px;
    height: 30px;
    display: inline-block;
  }

  .option-color-box{
    border-radius: 2px;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right:10px;
    margin-top: 16px;
    cursor: pointer;
  }

  .invoice-preview label.input-checkbox > input:checked + svg .checked{
   fill: rgba(9, 122, 168, 1);
  }

  .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
    font-family: roboto;
  }

  .invoice-preview-form-container {
    background-color: white;
  }
  .invoice-preview-form-header {
    color: #284561;
    display: flex;
    margin-bottom: 1rem;
    padding: .2rem 0;
  }
  .invoice-preview-form-title {
    margin-right: auto;
  }
  .invoice-preview-form-close {
    flex-shrink: 0;
    margin-left: .5rem;
    cursor: pointer;
    width: 21px;
    height: 21px;
    background-image: url('../inlineSVG/round-close.svg');
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .invoice-preview-form-footer {
    display: flex;
    margin-top: .5rem;
  }