.navMenu li:not(#expandable) {
    position: relative;
    font-family: roboto;
    height: auto;
    float: left;
    width: 100%;
    user-select: none;
    cursor: pointer;
}

ul.sync-menu-btn li {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: initial;
    word-break: break-all;
}

ul.sync-menu-btn li.styleWhenNavChanges {
   border-left:none !important;
}

.expandable-open li.sub-menu-item{
    min-height: 33px;
    line-height: initial;
    padding: 5px;
}

.expandable-open li.sub-menu-item .menu-content span{
    padding-left: 39px;
    padding-top: 3px;
}

li.add-menu-enabled .add-form{
    display: block;
    font-size: 18px;
    font-weight: bolder;
    padding-right: 4px;
}

li.add-menu-enabled.add-menu-enabled-list-item .add-form{
    display: none;
}

.expandable-open{
    display: none;
    /*            transition: all 0.3s ease;*/
    cursor: pointer;
}
.expandable-open > li{
    /*height: 40px;*/
    width: 100%;
    line-height: 40px;
    font-size: 12px;
    font-family: robotoMedium;
    cursor: pointer;
}
/*.expandable-open.license-padding>li{
  padding-left: 24px!important;
}*/
/* .expandable-open > li:first-child{
    box-shadow: inset 0px 2px 2px rgba(0,0,0,0.25),inset 0px 4px 4px rgba(0,0,0,0.14);
}
.expandable-open li:last-child{
    box-shadow: inset 0px -2px 2px rgba(0,0,0,0.25),inset 0px -4px 4px rgba(0,0,0,0.14);
} */
.expand-icon{
    padding-right: 7px;
    /* margin-left: auto; */
    margin-top: 1px;
}
.white-text{
    color: white!important;
}
.expand-icon img{
    transition: all 0.3s ease;
}
.expandHeader{
    cursor: pointer;
    display: flex;
    align-items: center;
    height:38px !important
}

.add-menu-enabled .menu-content span{
    /* max-width: 128px; */
    word-break: break-word;
}

#sideNav ::-webkit-scrollbar {
    background-color:#212934 ;
}


