#referAndEarnDiv {
    background-color: #EEEFF4;
    height: 100%;
    overflow: auto;
}

#lowerHalf {
    margin: auto;
    background: #FFFFFF;
    width: 100%;
    border-radius: 8px;
    float: right;
    text-align: center;
}
.flex{
    display: flex;
}
.colCustom{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.ratingContainer{
    background-color: #F3F3F3;
    height:84%;
    width:42%;
    border-radius: 5px;
}

.userReview{
    margin:18px;
}

#loweHalf div {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    color: #6A6B70;
}
.textPara{
    color:#222325;
    font-size:21px;
    padding:15px 20px;
    font-family: robotoBold;
}
.mainBody{
    padding-left: 20px;
    padding-right: 20px; 
    background: #fafafa;
}
.overAllRating{
    color: #222325;
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
    font-family: robotoBold;
}
.textPlayStore{
    height:19px;
    font-size: 14px;
    font-family: Roboto;
    color: #9198A7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#referAndEarnDiv label {
    cursor: pointer;
}

#referAndEarnDiv input[type="checkbox"] {
    display: none
}

input[type="checkbox"]+.textForReview {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #6A6B70;
    display: flex;

}

input[type="checkbox"]:checked+.textForReview {
    color: #2244AA;
}

input[type="checkbox"]+.textForReview:before {
    content: url("./../inlineSVG/checked_empty.png");
    margin-right: 10px;
    position: relative;
    text-align: center;
}

input[type="checkbox"]:checked+.textForReview:before {
    content: url("./../inlineSVG/checked_active.png");
    margin-right: 10px;
}

#lowerHalf div {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#lowerHalf .textForReview {
    font-size: 15px;
}

.selected {
    border: 2px solid black;
}

input[type="checkbox"]+.starIcon {
    margin: 10px;
    background: #FFFFFF;
}

input[type="checkBox"]+.starIcon::before {
    content: url("./../inlineSVG/star_empty.png")
}

input[type="checkBox"]:checked+.starIcon::before {
    content: url("./../inlineSVG/star_active.png")
}

.submitButton {
    height: 48px;
    width: 157px;
    background: #ED1A3B;
    border-radius: 24px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 15px;

}

.defaultReasonsCheckBox {
    color: #636675;
}

#descriptionTextBox {
    border: 1.5px solid #9198A7;
    box-sizing: border-box;
    border-radius: 5px;
    width: 80%;
    height: 48px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #94969A;
    padding: 15px;
    margin-top: 10px;
    float: left;
}

.lowerCheckBox {
    margin-left: 17%;
}

#defaultReasonTitle {
    color: #222325;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 18px;
    margin-left: 17% !important;
    text-align: left !important;
}

.leftHalf {
    margin: auto;
    background: #FFFFFF;
    width: 55%;
    height: 78vh;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #D9DBE3;
    float: left;
    overflow-y: scroll;
    /* display: flex; */
    /* flex-direction: column; */
}
/* .reviewContainer{
    height:75%;
} */
#moreReviewButtonDiv{
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}

#textAfterRating {
    font: Regular 18px/22px Roboto;
    color: #08BD7C;
    text-align: center;
}

#rightHalf {
    margin: auto;
    background: #FFFFFF;
    width: 45%;
    height: 78vh;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #D9DBE3;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.feedbackPara{
    text-align: left;
    font: Normal 14px / 24px roboto;
    letter-spacing: 0px;
    color: #636675;
}
#moreReviewButton{
    border: 1px solid #0075E8; 
    border-radius: 5px;
    height: 42px;
    text-align: center;
    width: 60%;
    color:#0075E8;
    background-color: #FFFFFF;
}
.user{
    display: flex;
    font:bold 14px/19px Roboto;
    color: #222325;
    align-items: center;
    padding: 2px;
}
.fullRating{
    height:4px;
    width:4px;
    border-radius: 50%;
    background-color:  #B5B7C8;
    margin:0px 10px
}