.ui-dialog.ui-corner-all.ui-widget{
    z-index:1301;
}

.border-bottom-1{
    border-bottom:1px solid #DDDDDD;
}

.border-bottom-2{
    border-bottom:2px solid #DDDDDD;
}

.settings-container{
    overflow: hidden;
}

.settings-container.settings-layout{
    padding-top: var(--titlebar-height);
}

.settings-container .setting-tabs button {
    font-size: 13px;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 4px 0 0 4px;
    text-align: left;
}

.settings-container .setting-tabs button .MuiTab-wrapper{
    align-items: flex-start;
}

.settings-container .setting-tabs button.Mui-selected  {
    background: #fbfafa;
    color: #1C2030;
    max-width: 100%;
}

.settings-container .left-tabs-panel{
    background: #1C2030;
    padding-right: 0;
    padding-left: 5px;
}

.settings-container .left-tabs-panel .heading-section{
    padding: 0 3px 16px 12px;
}

.settings-container .left-tabs-panel .heading-section *{
    vertical-align: middle;
}

.settings-container .left-tabs-panel .heading-section label{ 
font-size: 20px;
color: #FFFFFF;
margin:0;
}


.settings-container .right-content-pane{
    overflow: auto;
    background-color: #fbfafa;
    padding-bottom: var(--titlebar-height);
}

.settings-container .right-content-pane .tab-content>.active{
    background: initial;
}

.settings-container .right-content-pane .transaction-item .checkbox-item{
width: 40px;
height: 40px;
border-radius: 20px;
margin-bottom: 15px;
display: inline-block;
background: #dedbdb;
cursor: pointer;
}

.settings-container .select-dd{
    display: inline-flex;
}

.settings-container .select-dd div:first-child{
    border: none; 
    color: transparent;
    background: transparent;
}

.settings-container .select-dd span:first-child{
    border: none;
    color: transparent;
    background: transparent;
}

.settings-container .setting-item.height-72{
    min-height: 72px;
}

.settings-container .height-66, .settings-container .setting-item.height-66{
    min-height: 66px;
}

.settings-container input:focus{
    outline:none !important;
}
.settings-container .heading{
    padding-bottom: 10px;
}

.settings-container .setting-item{
    min-height: 48px;
    font-size: 14px;
}

.settings-container .setting-item .w-20-px{
    width: 20px;
}

.settings-container .setting-item .w-50-px{
    width: 50px;
}

.settings-container .setting-item .w-100-px{
    width: 100px;
}

.settings-container .setting-item .w-180-px{
    width: 180px;
}

.settings-container .link{
font-size: 12px;
padding-left: 10px;
color: #1789FC;
}

.settings-container .input-checkbox{
    margin-right: 10px;
}

.settings-container label.input-checkbox > input:checked + svg .checked{
    fill: #1789FC;
}

.settings-container label.input-checkbox > input[disabled] + svg .checked{
    fill: #dddddd;
}

   .ReactModal__Overlay.ReactModal__Overlay--after-open{
       z-index:1300;
   }
 
   .reverse {
    top:auto;
    bottom:100%;
}

a {
    cursor: pointer;
    font-size: 14px;
}

.color-1789FC {
    color: #1789FC;
}

.color-707070 {
    color: #707070;
}


.remove-underline .MuiInput-underline:before {
    border-bottom: none
}
.remove-underline .MuiInput-underline:hover:not(.Mui-disabled):before{
    border-bottom: none
}

.settings-container .right-content-pane .MuiTabs-flexContainer {
    border-bottom: 1px solid #DDDDDD;
}

.settings-container .right-content-pane .MuiTabs-flexContainer .MuiTab-root {
    font-family: robotoBold;
    font-Size: 16px;
    border-radius: 4px;
}

.settings-container .right-content-pane .MuiTabs-flexContainer .MuiTab-root.Mui-selected {
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.settings-container .right-content-pane .MuiTabs-flexContainer .MuiTab-root .MuiTab-wrapper {
    color: #284561;
    align-items: flex-start;
}

.settings-container .right-content-pane .MuiTabs-flexContainer .MuiTab-root.Mui-selected .MuiTab-wrapper {
    color: #1789FC
}

.highlighted-setting-item {
    border: 2px solid #add3f9;
    box-shadow: 2px 2px 2px #add3f9;
    border-radius: 4px;
    padding: 4px;
    font-weight: bold;
}

.ellipsis{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.settings-btn-link {
    color: #1789FC;
    padding: 10px;
    border-radius: 6px;
    background: #f3f2f2
}

.settings-container .MuiTextField-root .MuiInputLabel-outlined.MuiInputLabel-marginDense,
.settings-container .MuiTextField-root input,
.settings-container .selectDropDown-formControl .MuiOutlinedInput-inputSelect {
    font-size: 0.9rem;
}

.MuiButton-containedPrimary, .MuiButton-containedPrimary:hover{
    background-color: #1789FC;
}

.settings-container .MuiTypography-root.MuiTypography-body1 {
    padding: 10px !important;
}

.tooltip_templates { display: none; }
.tooltipster-sidetip .tooltipster-box {
	border: none;
}
.tooltipster-sidetip .tooltipster-arrow-border {
    border: none;
}